.blocos {
  border: 2px solid black;
  /* max-width: 300px; */
  width: 26%;
  /* padding: 14px; */
  /* margin: 15px; */
  display: inline-block;
  align-items: right;

}
.separacoes-blocos {
  display: inline-block;
}

.coluna-bloco {
  display: inline-block;
  width: 33.3333333%;
}
